mixin indexPostUI(posts)
  if theme.index_layout == 8
    // 瀑布流布局
    .waterfall-container
      // 使用分页的文章数据，而不是所有文章
      - var sortedPosts = posts.data.sort(function(a, b) {
      -   // 首先按top字段排序（有top字段的排在前面，top值大的排在前面）
      -   var aTop = a.top || 0;
      -   var bTop = b.top || 0;
      -   if (aTop !== bTop) {
      -     return bTop - aTop; // 降序排列
      -   }
      -   // 如果top字段相同，按时间降序排列
      -   return new Date(b.date) - new Date(a.date);
      - });
      each article in sortedPosts
        .recent-post-item.waterfall-item
          .post-card-wrapper
            if article.cover
              .post_cover
                a(href=url_for(article.path) title=article.title)
                  img.post-bg(src=url_for(article.cover) onerror=`this.onerror=null;this.src='${url_for(theme.error_img.post_page)}'` alt=article.title)
            else
              .post_cover
                a(href=url_for(article.path) title=article.title)
                  img.post-bg(src=url_for(theme.default_top_img) onerror=`this.onerror=null;this.src='${url_for(theme.error_img.post_page)}'` alt=article.title)
            
            .recent-post-info
              .article-title
                a(href=url_for(article.path) title=article.title)= article.title
              .article-meta-wrap
                .article-meta
                  i.far.fa-calendar-alt
                  time.post-meta-date(datetime=date_xml(article.date) title=_p('post.created') + ' ' + full_date(article.date))= date(article.date, config.date_format)
                if article.tags && article.tags.length > 0
                  .tags
                    each tag in article.tags.data
                      a.article-meta__tags(href=url_for(tag.path))= '#' + tag.name
              .content= truncate(strip_html(article.content), {length: 120})
    
    // 添加分页组件
    include ../pagination.pug
  else
    // 原有布局逻辑
    each article in posts.data
      .recent-post-item
        include ../post-ui/index-post-content.pug

    include ../pagination.pug